  <div class="container">  
  <div class="product" *ngFor="let product of products"> 
    <img [src]="product.imageUrl" alt="{{ product.imageUrl}} image">
    <div>
         {{  product.style}}<br>
         {{ product.currencyFormat }}{{ product.price}}<br>
         <div *ngFor="let size of sizes" style="display: inline-block;">
          <button (click)="selectSize(size)">{{size}}</button>
        </div><br>
         <label for="quantity">Quantity:</label>
         <input type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity" min="1"><br>
         <button (click)="addToCart(product)">Add to Cart</button>
         <div>
    </div>
  </div>
  </div>

  <div *ngIf="cart.length > 0">
  <h2>Cart</h2>
  <ul>
    <li *ngFor="let item of cart">{{ item.style }} x {{ item.quantity }} - {{ item.price * item.quantity }}  {{this.selectedSize}}</li>
  </ul>
  <p>Total: ${{ getTotalPrice() }}</p>
  <table>
  <tr *ngFor="let item of cart">
    <!-- <td>{{ item.availableSizes }}</td> -->
    <td>{{item.style}}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{this.selectedSize}}</td>
    <td><button (click)="removeFromCart(item)">Remove</button></td>
  </tr>
</table>
  </div>
  

  
 